.game {
    flex-basis: 10%;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}
/* 
.game__opponent {
    color: #FFFFFF
}
.game__date {
    color: #FFFFFF
}
.game__location {
    color: #FFFFFF
}
.game__played {
    color: #FFFFFF
} */